%h1 Zuwendungen

%h2 Bundesländer

- uniq_states.each do |state|
  %h3= state
  %p= link_to "Alle Daten zu #{state}", state_path(state)

  %table.table.table-striped
    %thead
      %th Jahr
      %th.number Anzahl
      %th.number Summe
    %tbody
      - Donation.where(state: state).grouped_by_year.each do |row|
        %tr
          %td= row.year.to_i
          %td.number= number_with_delimiter row.count
          %td.number= number_to_currency row.amount
