%h1 Zuwendungen

%p
  Zuwendungen sind nach dem Haushaltsrecht (freiwillige) Leistungen des Bundes an Stellen außerhalb der Bundesverwaltung bzw. Leistungen der Länder an Stellen außerhalb der jeweiligen Landesverwaltung zur Erfüllung bestimmter Zwecke.
  [Quelle: <a href="https://de.wikipedia.org/wiki/Zuwendung">Wikipedia</a>]

%p
  In dieser Datenbank sind Informationen über Zuwendungen aus öffentlich verfügbaren Quellen gesammelt,
  um sie leichter auffindbar und durchsuchbar zu machen.

%h2 Bundesländer

- uniq_states.each do |state|
  %h3= state
  %p= link_to "Alle Daten zu #{state}", state_path(state)

  %table.table.table-striped
    %thead
      %th Jahr
      %th.number Anzahl
      %th.number Summe
    %tbody
      - Donation.where(state: state).grouped_by_year.each do |row|
        %tr
          %td= row.year.to_i
          %td.number= number_with_delimiter row.count
          %td.number= number_to_currency row.amount
