%h1
  = title_content do
    Zuwendungen in
    = params[:id]

%h2 Top 50 Empfänger

%table.table.table-striped
  %thead
    %th Empfänger
    %th.number Anzahl
    %th.number Summe
  %tbody
    - Donation.where(state: params[:id]).grouped_by_recipients.joins(:recipient).order("amount DESC").limit(50).each do |row|
      %tr
        %td= link_to row.recipient, recipient_path(row.recipient.slug)
        %td.number= row.count
        %td.number= number_to_currency row.amount
