%h1
  = title_content do
    Zuwendungen
    - if @recipient
      an #{@recipient}
    - if @purpose
      für #{@purpose}

%table.table.table-striped
  %thead
    %th Von
    %th Bis
    - if !@purpose
      %th Zweck
    - if !@recipient
      %th Empfänger
    %th.number Summe
    %th Art
  %tbody
    - @donations.order(:date_begin).each do |row|
      %tr
        %td= row.date_begin
        %td= row.date_end
        - if !@purpose
          %td= link_to row.purpose, donations_path(purpose: row.purpose)
        - if !@recipient
          %td= link_to row.recipient, donations_path(recipient: row.recipient)
        %td.number= number_to_currency row.amount
        %td= row.kind
  %tfoot
    %tr
      %th{colspan: 3}
      %th.number= number_to_currency @donations.sum(&:amount)
      %th
